*.java linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.csharp linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.xml linguist-detectable=false
